<div id="<%= dom_id team %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= team.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Endereco:</strong>
    <%= team.endereco %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Athletes:</strong>
    <%= team.athletes_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Historia:</strong>
    <%= team.historia %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Infos:</strong>
    <%= team.infos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo:</strong>
    <%= team.titulo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo2:</strong>
    <%= team.titulo2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo3:</strong>
    <%= team.titulo3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo4:</strong>
    <%= team.titulo4 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Titulo5:</strong>
    <%= team.titulo5 %>
  </p>

</div>
