<div id="<%= dom_id athlete %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= athlete.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Numero:</strong>
    <%= athlete.numero %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Posicao:</strong>
    <%= athlete.posicao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tipo atleta:</strong>
    <%= athlete.tipo_atleta %>
  </p>

</div>
