<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @athlete %>

    <%= link_to "Edit this athlete", edit_athlete_path(@athlete), class: "custom-button" %>
    <%= link_to "Back to athletes", athletes_path, class: "custom-button" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this athlete", @athlete, method: :delete, class: "custom-button" %>
    </div>
  </div>
</div>
